*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}#square{
    background-color: skyblue;
    width: 50%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%,-50%);
}#circle{
    background-color: black;
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}#cir{
    background-color: wheat;
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}#circ{
    background-color: brown;
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
} /*#circ img{
    width: 300px;
    height: 300px;
    position: absolute;
} */
#ci{
    background-color: black;
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}#ci img{
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    position: absolute;
    /* background-size: cover;
     */
     animation: animate 5s linear infinite reverse both;
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}